<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" src="angularjs/angular.min.js"></script>
</head>
<script>
    var app = angular.module('myApp',[]);
    app.controller('myController',function ($scope,$http) {
        $scope.findAll = function () {
            $http.get('../player/findAll.do').success(function (response) {
                $scope.list=response;
            })
        }
        $scope.toAdd = function () {
            $scope.stu={};
            $scope.initpro();
            $scope.initpro1();
            document.getElementById("add").style.display="block";
        }
        $scope.saveStu = function () {
            $http.post('../player/addP.do',$scope.stu).success(function (response) {
                if(response.flag){
                    $scope.findAll();
                    document.getElementById("add").style.display="none";
                }else{
                    alert(response.msg);
                }
            })
        }
        $scope.findOne = function (pid) {
            $http.get('../player/findById.do?pid='+pid).success(function (response) {
                $scope.stu=response;
                document.getElementById("add").style.display="block";
            })
        }
        $scope.initpro = function () {
            $http.get("../school/getS.do").success(function (response) {
                $scope.slist=response;
            });
        }
        $scope.initpro1 = function () {
            $http.get("../team/getT.do").success(function (response) {
                $scope.tlist=response;
            });
        }
        $scope.changepro = function ($event) {
        }
        $scope.findAllConn=function(){
            $http.post("findAllConn.do",$scope.stu).success(function (response) {
                $scope.list = response;
            });
        }
        $scope.ids =[];
        $scope.updateSelection = function ($event,pid) {
            if($event.target.checked){
                $scope.ids.push(pid);
            }else{
                //这个是用户取消选择了，我们需要把用户取消的这个id在数组中的位置找出来，下标
                var index = $scope.ids.indexOf(pid);
                /**
                 *去按照下标删除，第二个参数，是删除几个，只能删除一个
                 */
                $scope.ids.splice(index,1);
            }

        };
        $scope.deleteStu = function () {
            $http.post("../player/delP.do",$scope.ids).success(function (response) {
                if(response.flag){
                    $scope.findAll();
                }else{
                    alert(response.msg);
                }
            })
        }
    });
</script>
<body ng-app="myApp" ng-controller="myController" ng-init="findAll()">
    <table border="1" rules="all">
        <tr align="center">
        <td colspan="100">

        </td>
        </tr>
        <tr align="center" bgcolor="#00ffff">
            <th><input type="checkbox"/></th>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>生日</th>
            <th>院校</th>
            <th>球队</th>
            <th>操作<input type="button" ng-click="toAdd()" value="新增"/>
            </th>
        </tr>
        <tr align="center" ng-repeat="s in list">
            <td><input type="checkbox" ng-click="updateSelection($event,s.pid)"/></td>
            <td>{{s.pid}}</td>
            <td>{{s.name}}</td>
            <td>{{s.age}}</td>
            <td>{{s.birthday}}</td>
            <td>{{s.sname}}</td>
            <td>{{s.tname}}</td>
            <td><input type="button" value="修改" ng-click="initpro();initpro1();findOne(s.pid)"/></td>
        </tr>
        <tr>
            <td colspan="100">
                <input type="button" value="批量删除" ng-click="deleteStu()"/>
            </td>
        </tr>
    </table>
    <div id="add" style="display: none">
        <table border="1" rules="all">
            <tr align="center">
                <td>姓名</td>
                <td>
                    <input type="text" ng-model="stu.name"/>
                </td>
            </tr>
            <tr align="center">
                <td>年龄</td>
                <td>
                    <input type="text" ng-model="stu.age"/>
                </td>
            </tr>

            <tr align="center">
                <td>生日</td>
                <td>
                    <input type="date" ng-model="stu.birthday"/>
                </td>
            </tr>

            <tr align="center">
                <td colspan="100">
                    请选择:
                    <select ng-model="stu.tid">
                        <option value="-1">--请选择省--</option>
                        <option ng-repeat="p in tlist" ng-value="p.tid">{{p.tname}}</option>
                    </select>

                </td>

            </tr>
            <tr align="center">
            <td colspan="100">
                请选择:
                <select ng-model="stu.sid">
                    <option value="-1">--请选择省--</option>
                    <option ng-repeat="p in slist" ng-value="p.sid">{{p.sname}}</option>
                </select>
            </td>
            </tr>
            <tr align="center">
                <td colspan="100">
                    <input type="button" value="保存" ng-click="saveStu()"/>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>